.footer_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.footer_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em;
  background-color: var(--primary-color);
}

@media screen and (max-width: 655px) {
  .footer_main {
    justify-content: center;
  }

  .right_footer {
    margin-top: 3em;
  }

  .footer_link_email {
    display: none;
  }
}

.footer_wave {
  width: 100%;
  margin-bottom: -1em;
}

.footer_link {
  padding: 1em;
  color: white;
}

.footer_link_email {
  padding: 1em;
  color: white;
}

.legal_section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.footer_legal {
  color: white;
  padding: 1em;
}

.right_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  background-color: darkblue;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
