/* Main Card */
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 28rem;
  width: 100%;
  border-bottom: 2em solid blue;
}

.card_full {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 100%;
  width: 100%;
}

/* Top Row */
.card_top_row {
  display: flex;
  margin-bottom: 1em;
}

.card_image {
  width: 8em;
  height: 10em;
}

.card_title {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

/* Second Row */

.card_desc {
  padding: 1rem;
  margin-top: 1rem;
}

/* Truncation  */
.trunc_section {
}

.collapse {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  margin-top: -0.5rem;
}

.read_more {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding-top: 0.2rem;
}
